<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Weekly Sales</h4>
                    <h2 class="font-weight-normal mb-5">$ 15,00000.00</h2>
                    <p class="card-text">Incresed by 60%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Weekly Orders</h4>
                    <h2 class="font-weight-normal mb-5">45633456</h2>
                    <p class="card-text">Decreased by 10%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Visitors Online</h4>
                    <h2 class="font-weight-normal mb-5">955741235</h2>
                    <p class="card-text">Increased by 5%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Weekly Sales</h4>
                    <h2 class="font-weight-normal mb-5">$ 15,00000.00</h2>
                    <p class="card-text">Incresed by 60%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Weekly Orders</h4>
                    <h2 class="font-weight-normal mb-5">45633456</h2>
                    <p class="card-text">Decreased by 10%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Visitors Online</h4>
                    <h2 class="font-weight-normal mb-5">955741235</h2>
                    <p class="card-text">Increased by 5%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-warning text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Weekly Sales</h4>
                    <h2 class="font-weight-normal mb-5">$ 15,00000.00</h2>
                    <p class="card-text">Incresed by 60%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Weekly Orders</h4>
                    <h2 class="font-weight-normal mb-5">45633456</h2>
                    <p class="card-text">Decreased by 10%</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">Visitors Online</h4>
                    <h2 class="font-weight-normal mb-5">955741235</h2>
                    <p class="card-text">Increased by 5%</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>